#login
  = form_for(:session, url: sessions_path) do |f|
    = f.text_field :name, placeholder: "name", autofocus: true
    = f.password_field :password, placeholder: "password"
    = f.submit "login"