%li
  %span{style: "font-weight: bold"}= person.name
  = "owes #{number_to_currency(person.owes, unit: "$")}."
  - if signed_in? && current_user.admin?
    %small
      [
      = link_to "edit", edit_person_path(person)
      ]
