<h1>Unpaid bills:</h1>

<table cellpadding=5>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount Due</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.created_at.to_formatted_s(:mmddyyyy) %></td>
        <td><%= number_to_currency(bill.owed, unit: "$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
