- title "admin panel"

= render "shared/flash_messages"

%h1.new_person= link_to "New Person", new_person_path

.pending_payments
  %h1 Pending Payments:
  - if @payments.any?
    %ul= render @payments
  - else
    %p (none)

.manual_payment
  %h1 Manual Payment:
  = render "payments/admin_form"
  
- flash[:error] = flash[:notice] = nil