<ul id="amounts_owed">
  <% Person.all.each do |person| %>
    <li><%= link_to person.name, person %> 
        owes <%= number_to_currency(person.owes) %>.</li>
  <% end %>
</ul>
  
<%= render "messages/messages" %>
