html, body, form {
  margin: 0;
  padding: 0;
}

$gray: #ddd;
$dark-gray: #777;
$black: #000;
$white: #fff;

$mono: "Courier New", monospace;

body {
  background: $white;
  font-family: $mono;
  color: $dark-gray;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  outline: none;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid $gray;
  transition: border 0.3s;

  &:hover,
  &:focus {
    border-bottom: 2px solid $black;
  }
}

input[type="checkbox"] { margin-bottom: 10px; }

select {
  outline: none;
  background: transparent;
  padding: 5px;
  font-size: 1em;
  font-family: $mono;
}

input[type="submit"] {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid $black;
  background: transparent;
  transition: background 0.3s, color 0.3s;
  font-family: $mono;

  &:hover, &:focus {
    outline: none;
    background: $black;
    color: $white;
  }
}

a:link, a:visited {
  color: $black;
  text-decoration: none;
}

a:hover, a:active {
  color: $black;
  text-decoration: underline;
}
