// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #006400;
$red: #CD0000;

.notice {
  color: $green;
  font-weight: bold;
}

.error {
  color: $red;
  font-weight: bold;
}

.field_with_errors {
}
