// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#amounts_owed {
  list-style-type: none;
  padding: 0;
  li { margin-bottom: 10px; }
}

#person_email { width: 200px; }

.person_owes_amount, 
#edit-link, 
.status, 
#new_payment, 
.field, 
.actions, 
input[type="submit"] { 
  display: inline; 
}

.pending_payment {
}

